{% extends "twitter/base.html" %}

{% block content %}

<a href="http://en.wikipedia.org/wiki/Big_Five_personality_traits">Big Five personality traits</a>
</br>
Big Five 성격 유형이 무언가요?
</br>

<!-- <h2>Here comes your friends:</h2>
<ul>
    {% for json in users %}
        {% for userID in json.ids %}
            {{ userID }}
        {% endfor %}
    {% endfor %}
</ul>

<h2>Here comes your statuses:</h2>
<ul>
    {% for tweet in statuses %}
        {{ tweet.text }}
        <br>
        {% for tweet in json %}
            {{ tweet.text }}
        {% endfor %}
    {% endfor %}
</ul> -->
</br>
<a href="http://uilab.kaist.ac.kr:8000/questionnaire/take/2/">BIG FIVE TEST (in English)</a>
</br>
<a href="http://uilab.kaist.ac.kr:8000/questionnaire/take/4/">BIG FIVE TEST (한글)</a>

{% endblock %}
